# Python specific ignores
__pycache__/
*.py[cod]
*$py.class

# Ignore all PNG files
*.png

# Ignore environment files
*.env
qodana.yaml
*.exe

# Ignore downloads of images and other media
assets/music/
assets/dbd/
utils/musicdownloads/

# Ignore virtual environment files
ultravenv/
site-packages/

# Ignore all log files
*.log
*.idea